<section class="hero">
	<div class="hero__container container">
		<div class="hero__slider">
			<div class="swiper swiper-1 custom-swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="./assets/img/1.jpg" alt="img" data-main-img />
					</div>
				</div>
			</div>
			<div class="swiper swiper-2 custom-swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="./assets/img/1.jpg" alt="img" />
					</div>
					<div class="swiper-slide">
						<img src="./assets/img/2.jpg" alt="img" />
					</div>
					<div class="swiper-slide">
						<img src="./assets/img/3.jpg" alt="img" />
					</div>
					<div class="swiper-slide">
						<img src="./assets/img/4.jpg" alt="img" />
					</div>
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
		<div class="hero__info">
			<h2 class="hero__title">Моя поездка на море</h2>
			<div class="hero__subtitle">Алтай</div>
			<div class="items-wrapper">
				<div class="items-wrapper__title">Плюсы:</div>
				<ul class="advantage-list">
					<li class="advantage-list__item">kwol</li>
					<li class="advantage-list__item">digital-agency</li>
					<li class="advantage-list__item">Выплаты: по окончанию</li>
					<li class="advantage-list__item">Сюда помещается длиный те</li>
				</ul>
			</div>
			<div class="items-wrapper">
				<div class="items-wrapper__title">Минусы:</div>
				<ul class="advantage-list">
					<li class="advantage-list__item">Коньяк</li>
					<li class="advantage-list__item">Спортик</li>
				</ul>
			</div>
			<div class="hero__modal-btns">
				<button>Ты хочешь мороженое?</button>
				<button>Готово</button>
				<button>JS-kod</button>
				<button>Книга</button>
			</div>
		</div>
	</div>
</section>
