.hero {
	padding: 100px 0;
	@media screen and (max-width: 992px) {
		padding: 50px 0;
	}
	// .hero__container

	&__container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 20px;
		@media screen and (max-width: 992px) {
			grid-template-columns: 1fr;
			gap: 10px 0px;
		}
	}

	// .hero__slider

	&__slider {
		grid-column: 6 span;
	}

	// .hero__info

	&__info {
		grid-column: 8 / -1;
		@media screen and (max-width: 992px) {
			grid-column: auto;
		}
	}

	// .hero__title

	&__title {
		margin-bottom: 24px;
		color: #000;
		font-family: 'Gilroy';
		font-size: 40px;
		font-weight: 500;
		line-height: 122.8%;
	}

	// .hero__subtitle

	&__subtitle {
		margin-bottom: 14px;
		color: #000;
		font-family: 'Gilroy';
		font-size: 41px;
		font-weight: 700;
		line-height: 122.8%;
	}

	// .hero__modal-btns

	&__modal-btns {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		button {
			&:active {
				scale: 0.97;
			}
			min-width: 220px;
			@media screen and (max-width: 500px) {
				width: 100%;
			}
			width: max-content;
			border-radius: 15px;
			background: #fff500;
			padding: 15px 10px;
			color: #000;
			font-family: 'Gilroy';
			font-size: 18px;
			font-weight: 700;
			line-height: normal;
		}
	}
}

.swiper {
	width: 100%;
}
.swiper-1 {
	height: 500px;
	@media screen and (max-width: 768px) {
		height: 300px;
	}
	margin-bottom: 20px;
}

.custom-swiper {
	.swiper-slide {
		border-radius: 10px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.swiper-button-prev,
	.swiper-button-next {
		&::after {
			font-size: 30px !important;
		}
	}
}
.swiper-2 {
	.swiper-slide {
		cursor: pointer;
	}
}
.swiper-2 {
	height: 180px;

	@media screen and (max-width: 768px) {
		height: 150px;
	}
}

.items-wrapper {
	margin-bottom: 20px;
	// .items-wrapper__title

	&__title {
		margin-bottom: 10px;
		color: #000;
		font-family: 'Gilroy';
		font-size: 24px;
		font-weight: 700;
		line-height: 122.8%;
	}
}
.advantage-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px 10px;
	// .advantage-list__item

	&__item {
		padding: 5px 20px;
		border: 1px solid black;
		border-radius: 30px;
	}
}
